<div class="container-fluid h-100">
	<div class="row justify-content-center align-items-center h-100">
		<div class="col col-sm-9 col-xl-9 col-md-9 col-lg-9 ">
			<h2>Editar tema</h2>
			<%= render 'form', subject: @subject %>
			<%= link_to 'Show', @subject %> |
			<%= link_to 'Back', subjects_path %>
		</div>
	</div>
</div>
